<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!--<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />-->
    <link href="~/Content/StyleSheet.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&amp;subset=cyrillic-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
    <link rel="shortcut icon" href="~/Content/Components/favicon.ico" type="image/x-icon">
</head>
<body class="container bg2">
    <div class="container">
        @RenderBody()
        @RenderSection("B")
        @RenderSection("C")
    </div>
    <style>
        .container {
            padding-top: 10px;
        }

        .validation-summary-errors {
            color: #f00;
        }
    </style>
</body>
</html>

