
@{
    ViewBag.Title = "Реклама";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section B{
    <div class="infModule">
        <div class="inf">
            <img id="log2" src="/Content/Components/Logo.png" alt="log">
            <span>
                Это развлекательный ресурс, рассказывающий о том, что интересно современным молодым мужчинам и женщинам.
                Здесь пишут об играх и кино, анимационных сериалах и комиксах и при этом исследуем вопросы ценообразования в
                игровой индустрии — то есть погружаемся в те темы, которые сегодня интересны активной и образованной
                аудитории в возрастной группе 22-35 лет.
            </span>
        </div>
    </div>
}

@section C{
    <div class="infModule">
        <div class="inf">
            <span>Пишите на #-!*`a@gmail.com, если вы хотите рекламировать свои продукты на этом ресурсе.</span>
        </div>
    </div>
}
