
@{
    ViewBag.Title = "Информация об ресурсе";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section C{
<div class="infModule">
    <div class="inf">
        <span>  
                Данный ресурс создан для дипломной работы, выпусником Уральского Федирального Универститета.<br>
                Основная цель работы - изучение ORM технологии Entity Framework в связке с инфраструктурой ASP.NET MVC 5 с самыми последними технологиями, в частности Owin и конечно же ASP.NET Identity. А также изучение всех возможностей каскадных таблиц стилей третьего поколения (CSS3).
                Результат работы - web-сайт, демонстрирующий результат изучения вышеупомянутых технологий.<br><br><hr>
                Сам сайт представляет из себя мультимедийный ресурс с упором на текстовую составляющую (новости, обзоры, блоги). Тематика ресурса выражена нейтральным стилем пригодным для размещения любых материалов.
                Ниже описаны структура и технологии используемые при разработке ресурса.<br><br>
                Проект написан в Visual Studio 2015 с двумя проектами применяющих вариант шаблона Empty ASP.NET MVC Web Application.<br>
                Реализация проекта была поделена на три основные части:<br><br>
                <b>•	Построение пользовательской части веб ресурса на основе инфраструктуры ASP.NET MVC 5 с использованием Entity Framework<br>
                •	Построение административной части и безопасности  веб ресурса<br>
                •	Реализация стилистической части веб ресурса.<br><br></b>
                Пользовательская часть:<br>
                1) Построение уровней необходимой инфраструктуры:<br>
                •	разработка проектов Domain  (Содержит сущности и логику предметной области; настраивается на обеспечение постоянства посредством хранилища, которое создано с помощью инфраструктуры Entity Framework) и WebUI (Содержит контроллеры и представления; выступает в качестве пользовательского интерфейса).
                <br>
                2) Установка пакетов и инструментов для разработки ресурса.<br>
                3) Подготовка базы данных и ее создание (для базы данных будет применяться  SQL Server 2014, а доступ осуществляется с помощью Entity Framework с осуществлением подхода "code-first" , при которой необходимые классы модели данных создаются в приложении и затем ассоциируются с существующей базой данных).<br>
                4) Реализация модели предметной области и создания абстрактного хранилища.<br>
                5) Добавление контролеров.<br>
                6) Добавление компоновки, представления и файла запуска.<br>
                7) Настройка маршрутизации.<br>
                8) Добавление поддержки разбиения на страницы.<br>
                9) Построение функционала (навигационных элементов управления).<br><br>

                Административная часть:<br>
                1) Создание контролера CRUD.<br>
                2) Реализация новой компоновки и представления списка.<br>
                3) Реализация функционала для админ панели (Edit, Create, Delete записей).<br>
                4) Создание базовой политики безопасности:<br>
                •	Настройка ASP.NET Identity<br>
                •	Создание базы данных для ASP.NET Identity<br>
                •	Реализация "создания пользователей"<br>
                •	Настройка валидации данных<br>
                •	Реализация администратирование пользователей в ASP.NET Identity<br>
                •	Осуществление аутентификации с помощью ASP.NET Identity<br>
                •	Добавление системы авторизации, для контроля над пользователями и добавление ролей.<br><br><hr>
                Последним этапам работы стала стилизация веб ресурса с использованием всех возможностей каскадных таблиц стилей третьего поколения (CSS3) с упором на мощные возможности реализации анимированных эффектов без применения javascript.
                Далее проводились проверки и тестирования полученного веб-приложения.<br>
        </span>
    </div>
</div>

}

@section B{
}