
@{
    ViewBag.Title = "Контакты";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section B{
    <div class="infModule">
        <div class="inf">
            <img id="log2" src="/Content/Components/Logo.png" alt="log">
            <div class="infCont">
                <span>Главный администратор: e.v.bukin@gmail.com</span>
                <span>Техническая поддержка: e.v.bukin@gmail.com</span>
                <span> Коммерческий отдел: e.v.bukin@gmail.com</span>
            </div>
        </div>
    </div>
}

@section C{
    <div class="infModule">
        <div class="inf">
            <span>Контакт с разработчиком: vk.com/id114310015</span>
        </div>
    </div>
}

