body
{
    margin: 0;
    padding: 0;
    background-image: url(../Content/Components/background4.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

hr
{
    height: 1px;
    background: rgb(74, 139, 160);
    border: none;
}

.navbar-brand
{
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    color: rgb(74, 139, 160); 
    text-decoration: none;
}

.navbar
{
    display: block;
    width: 100%;
    height: 40px;
    background: rgb(0, 0, 0);
}

.rov
{
    width: 100%;
    margin-top: 4px;
    display: inline-block;
    min-height: 768px;
}

#logo1
{
    height: 45px;
    width: 45px;
    z-index: 1;
    position: absolute;
}

.col-xs-3
{
    display: inline-block;
    position: fixed;
    width: 200px;
    height: 100%;
    margin-top: -50px;
    padding-top: 100px;
    background: rgba(0, 0, 0, .8);
    vertical-align: top;
    font-family: 'Ubuntu', sans-serif;
}

.col-xs-3_1_1
{
    pointer-events: none;
    opacity: 0;
    transition: .5s;
    position: absolute;
    float: right;
    width: 5px;
    height: 29px;
    background: rgb(74, 139, 160);
    margin-top: -35px;
}

.col-xs-4
{
    float: right;
    margin-right: 20px;
    width: 81.8%;
    background: rgba(24, 24, 24, .9);
    position: relative;
    margin-bottom: 5px;
}

.col-xs-4_1
{
    width: 1012px;
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
}

.col-xs-4_2 {
    width: 100%;
    height: 400px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
}

.col-xs-4_2_1
{
    width: 975px;
    height: 360px;
    background: rgb(255, 255, 255);
    margin: auto;
    display: flex;
}

.col-xs-4_2_1_1
{
    display: inline-block;
    width: 700px;
    height: 360px;
    background: rgb(0, 0, 0);
    overflow: hidden;
}

.ArticleImg1
{
    transition-duration: 1s;
    width: 700px;
    height: 360px;
    pointer-events: none;
    display: block;
}

.ArticleDescription {
    width: 230px;
    height: 360px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.ArticleDescriptionTxt
{
    height: 245px;
    display: block;
    padding: 20px;
    border: 2px solid rgb(128, 128, 128);
    color: rgb(255, 255, 255);
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 17px;
    text-overflow: ellipsis
}

.wraperArticle
{
    width: 275px;
    height: 360px;
    background: linear-gradient(to left, rgba(0, 0, 0, 0) 97%, rgba(0, 0, 0, 1));
    position: relative;
    top: -416px;
}

#comment_bubble {
    margin-top: 6px;
    margin-right: 6px;
    width: 40px;
    height: 18px;
    background: rgb(74, 139, 160);
    position: relative;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    float: right;
    color: rgb(255, 255, 255);
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 17px;
    text-align: center;
    padding-bottom: 6px;
}

#comment_bubble:before {
    content: "";
    width: 0;
    height: 0;
    right: 36px;
    top: 4px;
    position: absolute;
    border-top: 4px solid transparent;
    border-right: 16px solid rgb(74, 139, 160);
    border-bottom: 4px solid transparent;
}

.btn-xs-Article-01
{
    transition-duration: 1s;
    width: 216px;
    position: relative;
    top: -60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgb(128, 128, 128);
    padding: 5px;
    text-align: center;
    z-index: 1;
    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.btn-xs-Article-01:hover
{
    transition-duration: 1s;
    border: 2px solid rgb(74, 139, 160);
    color: rgb(74, 139, 160);
}

.col-xs-4_2_1_2
{
    display: inline-block;
    width: 275px;
    height: 360px;
    background: rgb(49, 54, 60);
    overflow: hidden;
}

.well
{
    display: inline-block;
    width: 502px;
    height: 290px;
    background: rgb(0, 0, 0);
    margin-right: 4px;
    margin-bottom: 4px;
}

.btn-default
{
    width: 196px;
    height: 25px;
    background: rgb(10, 11, 12);
    margin-right: 2px;
    padding: 2px;
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 22px;
    color: rgb(255, 255, 255);
}

.btn-lg:nth-child(1)
{
    margin-top: 4px;
}

.btn-lg
{
    display: block;
    width: 196px;
    margin-bottom: 4px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    font-size: 18px;
}

.btn-lg:hover
{
    transition: .5s;
    color: rgb(74, 139, 160);
}

.btn-primary
{
    background: rgb(74, 139, 160);
}

.btn-lgbtn-primary
{
    display: block;
    width: 196px;
    background: rgb(74, 139, 160);
    margin-bottom: 4px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    font-size: 18px;
}

.btnModule
{
    background: rgb(255, 255, 255);
    width: 99.6%;
    height: 55px;
}

.content .btn-default:hover
{
    transition: .5s;
    background: rgb(74, 139, 160);
}

.content
{
    border-top: 1px dotted rgb(55, 55, 55);
    background: rgb(0, 0, 0);
    border-radius: 0 0 10px 10px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    margin-top: -4px;
    margin-bottom: 5px;
    width: 978px;
    height: 55px;
}

.mCSB_draggerContainer
{
    background: rgb(255, 255, 255);
    border-radius: 5px 5px;
}

.mCSB_scrollTools_horizontal
{
    margin-bottom: 5px;
}

.modulsLogo
{
    position: absolute;
    width: 502px;
    height: 60px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    color: rgb(255, 255, 255);
    text-align: right;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 21px;
    z-index: 10;
}

.modulsLogo span
{
    display: block;
    width: 390px;
    float: right;
    margin-right: 10px;
}

.modulsHeaderContent
{
    position: absolute;
    width: 502px;
    height: 150px;
    margin-top: 140px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    z-index: 10;
    opacity: 0;
}

.well:hover .modulsHeaderContent
{
    opacity: 1;
    transition: .9s;
}

.modulsHeaderTxt
{
    overflow: hidden;
    width: 490px;
    height: 100px;
    line-height: 25px;
}

.modulsHeaderTxt:before {
    content: "";
    float: left;
    width: 5px;
    height: 100px;
}

.modulsHeaderTxt > *:first-child {
    float: right;
    width: 100%;
    margin-left: -5px;
}

.modulsHeaderTxt:after {
    content: "\02026";
    font-size: 21px;
    color: rgb(255, 255, 255);
    box-sizing: content-box;
    float: right;
    position: relative;
    top: -25px;
    left: 100%;
    width: 3em;
    margin-left: -3em;
    padding-right: 5px;
    text-align: right;
    background-size: 100% 100%;
    background: linear-gradient(to bottom right, rgb(12, 12, 17), #0b0a0d 60%, #080609);
}
/*
.modulsHeaderTxt span
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100px;
    margin-right: 20px;
    margin-left: 20px;
}
*/
.modulsHeaderContent span
{
    font-family: 'Open Sans Condensed', sans-serif;
    color: rgb(255, 255, 255);
}

.modulsHeaderContent span:nth-child(1)
{
    display: block;
    text-align: right;
}

.modulsHeaderContent span:nth-child(2)
{
    float: left;
    margin-top: 24px;
    margin-left: 15px;
}

.btn-xs-01
{
    transition: .9s;
    float: right;
    margin-top: 10px;
    margin-right: 15px;
    color: rgb(255, 255, 255);
    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: none;
    padding: 2px 15px;
    border: 3px solid rgb(128, 128, 128);
    -webkit-transform: scale(2);
    transform: scale(0);
}

.btn-xs-01:hover
{
    color:rgb(74, 139, 160);
    border: 3px solid rgb(74, 139, 160);
}

.logoImg
{
    width: 502px;
    height: 290px;
    pointer-events: none;
}

.wraper
{
    position: absolute;
    width: 502px;
    height: 290px;
    opacity: 0;
}

.well:hover .wraper
{
    opacity: 1;
    transition: .5s;
    background: rgba(0, 0, 0, .8);
}

@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(/Content/FontFamily/Condensed.woff) format('woff');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(/Content/FontFamily/Ubuntu.woff) format('woff');
}

.contentHeader
{
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    margin-left: -10px;
    margin-top: 10px;
    text-align: end;
    display: flex;
    height: 50px;
    width: 102%;
}

.contentHeader span
{
    font-family: 'Open Sans Condensed', sans-serif;
    margin: auto;
    margin-right: 20px;
    margin-right: 10px;
    font-size: 25px;
}

.contentBody
{
    width: 102%;
    min-height: 400px;
    background: rgb(255, 255, 255);
    margin-left: -10px;
    margin-bottom: 20px;
}

.contentBody span
{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 22px;
}

.contentBody01
{
    display: flex;
    width: 600px;
    height: 400px;
    float: left;
}

.contentBody01 img
{
    max-height: 400px;
    max-width: 600px;
    margin: auto;
    /*
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    */
}

.contentBody02
{
    display: flex;
    float: right;
    width: 432px;
    height: 400px;
}

.contentBody02 span
{
    margin: auto;
}

.contentBody03
{
    display: inline-block;
    background: rgb(225, 225, 225);
}

.contentBody03t
{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
}

.contentBody03t span
{
    width: 75%;
    margin: auto;
}

.contentBody04
{
    width: 1032.22px;
    display: inline-block;
    background: rgb(255, 255, 255);
}

.contentBody04 img
{
    display: block;
    width: 100%;
}

.contentBody04t
{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
}

.contentBody04t iframe
{
    margin: auto;
}

.contentBody05
{
    display: flex;
    width: 100%;
    height: 50px;
    background: rgb(0, 0, 0);
}

.contentBody05 span
{
    margin: auto;
    color: rgb(255, 255, 255);
    margin-right: 30px;
}

/*ADMIN PANEL*/

.headerTable th 
{
    display: inline-block;
}

.headerTable th:nth-child(1)
{
    overflow: hidden;
    height: 90px;
    min-width: 50px;
    max-width: 75px;
    width: auto;
}

.headerTable th:nth-child(2)
{
    overflow: hidden;
    height: 90px;
    width: 136px;
}

.headerTable th:nth-child(3)
{
    overflow: hidden;
    height: 90px;
    width: 140px;
}

.headerTable th:nth-child(4)
{
    overflow: hidden;
    height: 90px;
    width: 128px;
}

.headerTable th:nth-child(5)
{
    overflow: hidden;
    height: 90px;
    width: 75px;
}

.headerTable th:nth-child(6)
{
    overflow: hidden;
    height: 90px;
    width: 75px;
}

.headerTable th:nth-child(7)
{
    overflow: hidden;
    height: 90px;
    width: 75px;
}

.headerTable th:nth-child(8)
{
    overflow: hidden;
    height: 90px;
    width: 75px;
}

.headerTable th:nth-child(9)
{
    overflow: hidden;
    height: 90px;
    width: 75px;
}

.headerTable th:nth-child(10)
{
    overflow: hidden;
    height: 90px;
    width: 75px;
}

.headerTable th:nth-child(11)
{
    overflow: hidden;
    height: 90px;
    width: 75px;
}

.headerTable th:nth-child(12)
{
    overflow: hidden;
    height: 90px;
    width: 75px;
}

.headerTable th:nth-child(13)
{
    overflow: hidden;
    height: 90px;
    width: 85px;
}

.headerTable th:nth-child(14)
{
    overflow: hidden;
    height: 90px;
    width: 90px;
}


.contentTable td
{
    display: inline-block;
}

.contentTable td:nth-child(1)
{
    overflow: hidden;
    height: 90px;
    min-width: 50px;
    max-width: 75px;
    width: auto;
}

.contentTable td:nth-child(2)
{
    overflow: hidden;
    height: 90px;
    width: 136px;
}

.contentTable td:nth-child(3)
{
    overflow: hidden;
    height: 90px;
    width: 140px;
}

.contentTable td:nth-child(4)
{
    overflow: hidden;
    height: 90px;
    width: 128px;
}

.contentTable td:nth-child(5)
{
    overflow: hidden;
    height: 90px;
    width: 75px;
}

.contentTable td:nth-child(6)
{
    overflow: hidden;
    height: 90px;
    width: 75px;
}

.contentTable td:nth-child(7)
{
    overflow: hidden;
    height: 90px;
    width: 75px;
}

.contentTable td:nth-child(8)
{
    overflow: hidden;
    height: 90px;
    width: 75px;
}

.contentTable td:nth-child(9)
{
    overflow: hidden;
    height: 90px;
    width: 75px;
}

.contentTable td:nth-child(10)
{
    overflow: hidden;
    height: 90px;
    width: 75px;
}

.contentTable td:nth-child(11)
{
    overflow: hidden;
    height: 90px;
    width: 75px;
}

.contentTable td:nth-child(12)
{
    overflow: hidden;
    height: 90px;
    width: 75px;
}

.contentTable td:nth-child(13)
{
    overflow: hidden;
    height: 90px;
    width: 85px;
}

.contentTable td:nth-child(14)
{
    overflow: hidden;
    height: 90px;
    width: 90px;
}

/**********/

.headerTableA th 
{
    display: inline-block;
}

.headerTableA th:nth-child(1)
{
    overflow: hidden;
    height: 90px;
    min-width: 50px;
    max-width: 75px;
    width: auto;
}

.headerTableA th:nth-child(2)
{
    overflow: hidden;
    height: 90px;
    width: 220px;
}

.headerTableA th:nth-child(3)
{
    overflow: hidden;
    height: 90px;
    width: 220px;
}

.headerTableA th:nth-child(4)
{
    overflow: hidden;
    height: 90px;
    width: 259px;
}

.headerTableA th:nth-child(5)
{
    overflow: hidden;
    height: 90px;
    width: 75px;
}

.headerTableA th:nth-child(6)
{
    overflow: hidden;
    height: 90px;
    width: 75px;
}

.headerTableA th:nth-child(7)
{
    overflow: hidden;
    height: 90px;
    width: 90px;
}

.headerTableA th:nth-child(8)
{
    overflow: hidden;
    height: 90px;
    width: 75px;
}

.headerTableA th:nth-child(9)
{
    overflow: hidden;
    height: 90px;
    width: 75px;
}

.headerTableA th:nth-child(10)
{
    overflow: hidden;
    height: 90px;
    width: 90px;
}

.headerTableA th:nth-child(11)
{
    overflow: hidden;
    height: 90px;
    width: 75px;
}

.headerTableA th:nth-child(12)
{
    overflow: hidden;
    height: 90px;
    width: 75px;
}

.headerTableA th:nth-child(13)
{
    overflow: hidden;
    height: 90px;
    width: 85px;
}

.headerTableA th:nth-child(14)
{
    overflow: hidden;
    height: 90px;
    width: 90px;
}


.contentTableA td
{
    display: inline-block;
}

.contentTableA td:nth-child(1)
{
    overflow: hidden;
    height: 90px;
    min-width: 50px;
    max-width: 75px;
    width: auto;
}

.contentTableA td:nth-child(2)
{
    overflow: hidden;
    height: 90px;
    width: 220px;
}

.contentTableA td:nth-child(3)
{
    overflow: hidden;
    height: 90px;
    width: 220px;
}

.contentTableA td:nth-child(4)
{
    overflow: hidden;
    height: 90px;
    width: 259px;
}

.contentTableA td:nth-child(5)
{
    overflow: hidden;
    height: 90px;
    width: 75px;
}

.contentTableA td:nth-child(6)
{
    overflow: hidden;
    height: 90px;
    width: 75px;
}

.contentTableA td:nth-child(7)
{
    overflow: hidden;
    height: 90px;
    width: 90px;
}

.contentTableA td:nth-child(8)
{
    overflow: hidden;
    height: 90px;
    width: 75px;
}

.contentTableA td:nth-child(9)
{
    overflow: hidden;
    height: 90px;
    width: 75px;
}

.contentTableA td:nth-child(10)
{
    overflow: hidden;
    height: 90px;
    width: 90px;
}

.contentTableA td:nth-child(11)
{
    overflow: hidden;
    height: 90px;
    width: 75px;
}

.contentTableA td:nth-child(12)
{
    overflow: hidden;
    height: 90px;
    width: 75px;
}

.contentTableA td:nth-child(13)
{
    overflow: hidden;
    height: 90px;
    width: 85px;
}

.contentTableA td:nth-child(14)
{
    overflow: hidden;
    height: 90px;
    width: 90px;
}


/*********/

.btn-defaultGeneral
{
    background: rgb(74, 139, 160);
    height: 35px;
    color: rgb(255, 255, 255);
}

.ArticleLogoPanel
{
    width: 100%;
    height: 50px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    position: relative;
    top: -364px;
}

.ArticleLogoName
{
    float: right;
    margin-right: 10px;
    color: rgb(255, 255, 255);
    text-align: right;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 21px;
}

.panel-footer a
{
    padding: 0;
}

.btn-default
{
    width: 196px;
    height: 25px;
}

.btn-xs
{
    width: 75px;
    height: 25px;
}

.panel-footer a
{
    width: auto;
    height: 35px;
    padding: 6px;
}

.img-thumbnail
{
    width: 100%;
}

.footer 
{
    width: 100%;
    height: 100px;
    background: rgb(0, 0, 0);

}

.contentBodyArticle01
{
    display: flex;
    width: 757px;
    height: 425px;
    float: left;
}

.contentBodyArticle01 iframe
{
    margin: auto;
}

.contentBodyArticle02
{
    display: flex;
    width: 275px;
    height: 425px;
    background: rgb(255, 255, 255);
    overflow: hidden;
}

.contentBodyArticle02 span
{
    padding: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 22px;
}

.moduleSize
{
    position: absolute;
    display: block;
    width: 274px;
    height: 45px;
    top: 440px;
    border: none;
    cursor: pointer;
    margin-left: 758px;
    outline: none;
}

.moduleSize img
{
    width: 35px;
    height: 35px;
    pointer-events: none;
    transform: rotate(0deg);
}

.contentBodyArticle03
{
    width: 100%;
    display: inline-block;
}

.contentBodyArticle03 span
{
    padding: 50px;
    display: block;
}

.contentBodyArticle03 img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 927px;
}

.col-xs-4_3
{
    width: 100%;
    height: 672px;
    background: rgba(0, 0, 0, 0.6);
}

.col-xs-4_3_1
{
    margin-top: 5px;
    display: inline-block;
    width: 250px;
    height: 327px;
    background: rgb(0, 0, 0);
    position: relative;
    overflow: hidden;
}

.col-xs-4_3_1 span
{
    position: relative;
    color: rgb(255, 255, 255);
    font-family: 'Open Sans Condensed', sans-serif;
}

.col-xs-4_3_1_txt
{
    transition-duration: 1s;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    background: linear-gradient( to bottom, rgba(0, 0, 0, .4), rgba(0, 0, 0, 1));
    text-align: center;
}

.col-xs-4_3_1 img
{
    display: block;
    width: 100%;
}

.VievButton
{
    transition-duration: 1s;
    width: 100%;
    height: 0px;
    background: rgb(0, 0, 0);
    position: absolute;
    bottom: 0;
    overflow: hidden;
}


.VievButton a
{
    float: right;
    font-weight: 500;
    display: block;
    margin-top: 5px;
    margin-right: 2px;
}

.VievButton img
{
    transition-duration: 1s;
    width: 30px;
    height: 30px;
    border: 3px solid rgb(128, 128, 128);
    padding: 2px;
    border-radius: 10px;
}

.VievButton img:hover
{
    transition-duration: 1s;
    border: 3px solid rgb(74, 139, 160);
}

.infView span
{
    position: absolute;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family: 'Open Sans Condensed', sans-serif;
}

.infView span:nth-child(1)
{
    margin-left: 5px;
}

.infView span:nth-child(2)
{
    margin-top: 25px;
    margin-left: 5px;

}

.col-xs-4_3_1:hover .VievButton
{
    transition-duration: 1s;
    height: 50px;
}

.col-xs-4_3_1:hover .col-xs-4_3_1_txt
{
    transition-duration: 1s;
    bottom: 50px;
}

.infView
{
    transition-duration: 1s;
    opacity: 0;
}

.col-xs-4_3_1:hover .infView
{
    transition-duration: 2s;
    opacity: 1;
}

.btn-xs-Article-02
{
    transition-duration: 1s;
    opacity: 0;
}

.col-xs-4_3_1:hover .btn-xs-Article-02
{
    transition-duration: 2s;
    opacity: 1;
}

.col-xs-4_3_1_Img1
{
    display: block;
    position: relative;
}

.wellCatigory
{
    font-family: 'Open Sans Condensed', sans-serif;
    pointer-events: none;
    max-width: 50px;
    text-align: center;
}

.btn-primaryLogOut
{
    float: right;
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background: rgb(0, 0, 0);
    height: 40px;
    text-align: center;
    line-height: 2.3;
    width: 65px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 17px;
}

.btn-primaryLogOut:hover
{
    background: rgb(74, 139, 160);
}

.btn-primaryLogIn
{
    float: right;
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background: rgb(0, 0, 0);
    height: 40px;
    text-align: center;
    line-height: 2.3;
    width: 65px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 17px;
}

.btn-primaryLogIn:hover
{
    background: rgb(74, 139, 160);
}

.LogUser
{
    display: block;
    float: right;
    color: rgb(255, 255, 255);
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 17px;
    height: 40px;
    line-height: 2.3;
    max-width: 100px;
    padding-left: 5px;
    padding-right: 5px;
    border-right: 1px solid rgb(57, 62, 68);
    pointer-events: none;
}

.btn-primaryUsers
{
    float: right;
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background: rgb(0, 0, 0);
    height: 40px;
    text-align: center;
    line-height: 2.3;
    max-width: 180px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 17px;
    border-right: 1px dotted rgb(57, 62, 68);
    /* border-left: 1px dotted rgb(57, 62, 68); */
}

.btn-primaryUsers:hover
{
    background: rgb(74, 139, 160);
}

.btn-primaryReg
{
    float: right;
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background: rgb(0, 0, 0);
    height: 40px;
    text-align: center;
    line-height: 2.3;
    max-width: 180px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 17px;
    border-right: 1px dotted rgb(57, 62, 68);
    /* border-left: 1px dotted rgb(57, 62, 68); */
}

.btn-primaryReg:hover
{
    background: rgb(74, 139, 160);
}